# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js
node_modules

# Build output
.vite/
dist
dist-ssr
*.local

# OS-specific
.DS_Store
Thumbs.db

# Vite cache
.cache/
.vscode/

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Miscellaneous
project-structure.md